.nav-link {
    color:blue;
}

.nav-link:hover{
    color: red;
}

body {
    background-image: url(../fabric_of_squares_gray.png);
}

#About_Me {
    padding: 5px;
    /* color: #4aaaa5; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    /* background: #ffffff; */
    border-bottom: solid #cccccc 2px;
}

.Anthony_Portrait {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

footer {
    clear: both;
    overflow: auto;
    padding-top: 10px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    width: 100%;
    /* font-size: 12px; */
    color: #cccccc;
    /* background-color: #666666; */
    /* margin-top: 10px; */
    text-align: center;
    border-top: solid #cccccc 2px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#Hangman {
    float: left;
    height: 50px;
    width: 30%;
    padding: 10px;
}

.Broken_Ankle {
    transform: rotate(180deg)
}
.fab_fa-github {
    height: 200px;
}
.nav-link:hover {
    color: red
}

@media screen and (max-width: 980px) {
    html {
        overflow-x: scroll;
        overflow: hidden;
    }
}
